$blue: #004DFF;
$violet: #750787;
$green: #008026;
$red: #E40303;
$orange: #FF8C00;
$yellow: #FFED00;
$dark-gray: #222222;
$gray: #FCFCFC;

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:700i');
@import url('https://fonts.googleapis.com/css?family=Quicksand:500');
@import url('https://fonts.googleapis.com/css?family=Raleway:400i');

body {
    background-color: $gray;
}

* {
    box-sizing: border-box;
}
ul {
    display: block;
    cursor: pointer;
    list-style-type: none;
    margin: 1;
    padding: 1rem; 
}
h3 {
    font-weight: bold;
    font-size: 15px;
}
p {
    font-family: 'PT Serif', serif;
    font-size: 15px;
}
// .umbrella {
//     width: 100%;
//     background: no-repeat center center fixed;
//     background-size: cover;
//     height: 50em;
// }
.mission-text {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
}
.link-ham {
    padding: 1rem;
    border-top: 2px solid #F2F2F2;
}
.link-nav {
    display: inline;
    padding: 3rem;
    font-size: 14px;
}
.linkage {
    color: black;
    text-decoration: none;
}
.linkage:hover {
    text-decoration: none;
}
.hero-image {
    height: 50%;
    width: 100%;
}
#home-image {
     clip-path: inset(0px 0px 70px 0px);
     margin-bottom: -5em;
}
#contact-image {
    clip-path: inset(0px 0px 50px 0px);
}
.hamburgler {
    display: flex;
    // flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    // margin-left: 2em;
    // margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
}
fa-bars fa-2x {
    color: $dark-gray;
}
.logo-nav {
    position: relative;
}
.Nav-main {
    display: none;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // height: 7rem;
    // width: 100%;
    // border: 2px solid red;
    // align-items: center;
}
// .hero-main {
//     width: 100%;
//     display: block;
//     position: relative;
//     background-attachment: scroll;
//     background-image: url('img/grandma.jpeg');
//     background-size: contain;
//     background-repeat: no-repeat;
// }
.logo-parent {
    height: 5rem;
    width: 50%;
}
#logo-img {
    padding: 2em;
}
.App-logo-main {
    border: 2px solid blue;
    max-width: 100%;
    height: auto;
}
.Hero-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 20rem;
    width: 100%;
    // border: 2px solid red;
    background: white;
}
.Hero-sub-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: white;
    // border: 2px solid blue;
}
.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#contact-foot-main {
    display: flex;
    flex-direction: column;
}
#contact {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5em;
    color: grey;
}
// .contact-foot {
//     position: relative;
//     margin-top: 9.8em;
// }
// .card {
//     // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
//     max-width: 300px;
//     text-align: center;
//     margin: 40px;
// }
.footer {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: orange;
    padding: 2em 2em 2em 2em;
}
// .home-content {
//     // min-height: 100vh;
// }
.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
}
.home-cards-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    
}
@media screen and (min-width: 375px) {
    .card {
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        margin-bottom: 5em;
    }
}
@media screen and (min-width: 800px) {
    .card {
        float: left;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: 4em;
        text-align: center;
        }
    .hero-image {
        height: 100%;
        width: 100%;
        margin-top: 90px;
    }
    .slick-slide {
        margin-bottom: 10em;
    }
    
}

@media screen and (min-width: 834px) {
    .mission-text {
        font-size: 30px;
    }
    #home-image {
        clip-path: inset(20px 0px 300px 0px);
        margin-bottom: -21.5em;
    }
   .Hero-sub {
    display: flex;
    flex-direction: row;
    height: 20rem;
    width: 100%;
    background: white;
}
.Hero-sub-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background: white;
}
#home-hero-sub {
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
}

// @media screen and (min-width: 918px) {
//     #home-image {
//         margin-bottom: -21.5em;
//     }
// }

@media screen and (min-width: 1000px) {
    .hamburgler {
        display: none;
    }
    .Nav-main {
        display: flex;
        position: fixed;
        z-index: 2;
        top: 0;
        flex-direction: row;
        justify-content: space-between;
        background-color: $gray;
        font-weight: bold;
        height: 11rem;
        width: 100%;
        box-shadow: 0 8px 6px -6px #999;
        align-items: center;
    }
    .card-wrapper {
      align-items: baseline;
      margin-left: 6em;
    }
    .about-about-image {
        position: absolute;
    }
    .about-about-terrell {
        position: relative;
        margin-bottom: -25em;
    }
    .about-about-rob {
        position: relative;
        margin-bottom: -25em;
    }
    .about-about-kate {
        position: relative;
        margin-bottom: -25em;
    }
    .card {
        position: relative;
        width: 100%;
        min-height: 20em;
        margin-left: 25em;
    }
    .holder {
        width: 60em;
    }
    

}

@media screen and (min-width: 1140px) {
    .home-cards-main {
        margin-bottom: 75px;
    }
}
@media screen and (min-width: 1200px) {
    .quote {
        display: none;
    }
    #home-image {
        clip-path: inset(20px 0px 550px 0px);
        margin-bottom: -39.3em;
    }
     .main-contact {
         margin-bottom: 3em;
     }
    #about-image {
        clip-path: inset(0px 0px 260px 0px);
        margin-bottom: -12em;
    }
    #contact-image {
        clip-path: inset(0px 0px 500px 0px);
        margin-bottom: -30em;
    }
    #donate-image {
        clip-path: inset(0px 0px 370px 0px);
        margin-bottom: -20em;
    }
        // .home-cards-main {
        //     margin-bottom: 39em;
        // }
}   

@media screen and (min-width: 1318px) {
    #home-image {
        margin-bottom: -39.3em;
    }
}
@media screen and (min-width: 1320px) {
   #about-image {
       margin-bottom: -18.5em;   
   }
    #contact-image {
        margin-bottom: -35.5em;
    }
    #donate-image {
        margin-bottom: -26.5em;
    }
}
@media screen and (max-width: 1200px) {
    .quote-caro {
        display: none;
    }
}
.holder {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.title {
    color: grey;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    cursor: pointer;
}
.img-card {
    max-width: 100%;
    height: auto;
    position: relative;
    border-radius: 50%;
}
.card-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 296px;
    height: 312px;
    text-align: center;
    margin: 40px;
    padding-top: 20px;
    // border: 2px solid red;
}
.card-content {
    // border: 2px solid red;
    height: 175px;
    margin-top: 1em;
    color: #7a7a7a;
}
.card-caller {
    // border: 2px solid red;
    width: 100%;
    font-weight: bold;
}
.card-box {
    // border: 2px solid purple;
    padding: 2em;
}
.circle-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid orange;
    width: 100%;
    height: 7em;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid $blue;
    margin-bottom: 1em;
    color: $blue;
    transition: background .2s, color .2s;
}
.circle:hover {
    background-color: black;
    border: white;
    color: white;
    cursor: pointer;
}
.form-group form-group.large {
    width: 100%;
}
.donate-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-bottom: 7em;
}
.icons {
    display: flex;
    justify-content: space-around;
}

#con {
    padding-left: 1em;
}
.quote-caro {
    position: relative;
    background-image: url('./img/rainbowflag2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 14px;
    color: black;
    height: 30em;
    width: 80%;
    text-align: center;
    margin-bottom: 10em;
    margin-left: 10em;
    font-family: 'PT Serif', serif; 
}
.slick-slide {
    margin-bottom: 18em;
}
.slick-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    width: 30em;
    margin-left: 6em;
}

h3 {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
.sponsor-holder {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sponsor-box {
    display: flex;
    justify-content: space-around;
    height: 20em;
    width: 30em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-bottom: 2px solid $yellow;
    // border: 2px solid red;
}
.support-tag {
    text-align: center;
    font-size: 24px;
    
}
.sponsor-main {
    display: flex;
    flex-direction: column;
}

// .umbrella {
//     clip-path: inset(0px 0px 2000px 0px);
//     background-attachment: fixed;
//     margin-bottom: -140em;
// }

.donate-now {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}
.coming-soon {
    color: red;
    font-size: 30px;
    text-align: center;
}
.mission {
    display: flex;
    flex-direction: column;
    height: 25em;
    background-color: white;
    margin-top: 3em;
}
.fa-quote-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
}
.fa-quote-left {
    margin-left: 1em;
}
.quotes-containers {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.quote {
    background-color: white;
    padding: 10px;
    margin-bottom: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
