* {
    box-sizing: border-box;
}
ul {
    display: block;
    cursor: pointer;
    list-style-type: none;
    margin: 1;
    padding: 1rem; 
}
li {
    padding: 1rem;
    border-top: 2px solid #F2F2F2;
}
.linkage {
    color: black;
}
.Nav-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 7rem;
    width: 100%;
    border: 2px solid red;
    align-items: center;
}
.hero-main {
    width: 100%;
    display: block;
    position: relative;
    background-attachment: scroll;
    background-image: url('img/grandma.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
}
.logo-parent {
    height: 7rem;
    width: 50%;
    border: 2px solid blue;
}
.App-logo-main {
    border: 2px solid blue;
    max-width: 100%;
    height: auto;
}
.Carousel-pic {
    max-height: 100%;
    max-width: 100%;
}
.Hero-sub {
    height: 10rem;
    width: 100%;
    border: 2px solid red;
}
.Hero-sub-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.main-contact {
    display: absolute;
}
#contact {
    display: relative;
    height: 75%;
    width: 50%;
    margin: 5em 5em 0 5em;
    border: 2px solid red;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    max-width: 300px;
    text-align: center;
    margin: 40px;
}
@media screen and (min-width: 375px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        margin-bottom: 5em;
    }
}
@media screen and (min-width: 800px) {
    .card {
        float: left;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: 4em;
        text-align: center;
        
        }
}

.holder {
    padding: 0 16px;
}

.title {
    color: grey;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    cursor: pointer;
}

.img-card {
    max-width: 100%;
    height: auto;
}

